.container{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100vh 100vh 6vh;
    grid-template-areas: "header"
                         "institutional"
                         "footer";
}
.containerProject{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100vh 100fr 6vh;
    grid-template-areas: "header"
                         "institutional"
                         "footer";
}



header{
    background-image: url('../images/background.jpeg');
    grid-area: header;
    margin-top:0px;
    border-radius: 0px 0px 200px 200px;
    border-bottom: 90px;
}

header h1{
    font-family: 'Podkova';
    font-style: Regular;
    font-size: 13vw;
    line-height: 235px;
    line-height: 100%;
    text-align: center;
    vertical-align: Top;
    color: white;
    margin-bottom: 0px;
    animation: fadeInSub 2s 1;
}


header p{
    font-family: 'Crete Round', serif;
    font-style: Regular;
    font-size: 3vw;
    line-height: 81px;
    line-height: 100%;
    text-align: center;
    vertical-align: top;
    color:white;
    animation: fadeInSub 3s 1;
}


header a img{
    width: 30vw;
    height: 30vh;
    margin-left: 35vw;
    margin-top: 2vh;
    color: ivory;
    transform: rotate(90deg);
    margin-bottom: 0;
    animation: rotate 2s linear;
    text-align: center;
}

.smallNav{
    display: none;
}


.smallNav img{
    width: 7vw;
    height: 7vh;
    animation:none;
    transform: rotate(0deg);
    margin: auto;
}


header nav {
    width: 100%;
    height: 7vh;
    display: flex;
    position: fixed;
    margin-top: 0;
    background-color: #022859;
    z-index: 99;
}


header nav a {
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 3vw;
    margin: auto 0px auto 5px;
    text-decoration: none;
    font-weight: bold;
}


.navLogo{
    color:#A61B0F;
    animation: none;
    width: 3vw;
    height: 3vw;
    padding: 5px;
}


.menuContent{
    margin-left: 35vw;
    margin-top:0px;
}
.menuContent a{
    font-size: 2vw;
    text-align: center;
}


main{
    background: F6F6F6;
    grid-area: institutional;
}


main h1{
    font-family: 'Calistoga', cursive;
    margin-left: 30px;
    text-transform: uppercase;
    font-size: 3vw;
    letter-spacing: 4px;
}


main p{
    font-family: 'Varela Round', sans-serif;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 2vw;
    text-align: justify;
    text-justify: inter-word;
}


.sideMenu{
    grid-area: aside;
    height: 90%;
    width: 20vw;
    float: left;
    margin-right: 10px;
}

aside{
    border:1px solid black;
    border-radius: 20px;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    background: rgb(236, 236, 236);
    width: auto;
    max-width: 20vw;
    max-height: 30vw;
    height: auto;
    margin-left: 5px;
}


aside h3{
    font-family: 'Varela Round', sans-serif;
    font-weight: 700;
    padding: 5px;
    margin-left: 0px;
}

aside button{
    font-family: 'Varela Round', sans-serif;
    border-radius: 20px;
    font-size: 1,8vw;
    background: rgba(74, 0, 235, 0.568);
    border:none;
    width: 90%;
    display: block;
    text-decoration: none;
    color:black;
    margin: 10px;
    font-size: 3vh;
    padding: 5px;
    text-align: left;
}


aside button:hover{
    background: rgba(74, 0, 235, 1);
    cursor: pointer;
    color:white;
}

.skillsBoard{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row wrap;
    width: 100vw;
    height: 100fr;
    justify-content: center;
    align-content: space-between;
}


.skill{
    margin-left:30px;
    margin-bottom: 30px;
    width: 100fr;
    min-width: 20vw;
    height: 100fr;
    min-height: 30vh;
    float:left;
}


.skill h2{
    font-family: 'Varela Round', sans-serif;
    margin-left: 10px;
}


.skill li{
    font-family: 'Varela Round', sans-serif;
    margin-left: 30px;
}




footer{
    grid-area: footer;
    margin-top: 5%;
}


footer p{
    margin-top:5px;
    text-align: center;
    position: relative;
}

html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}





.projectsContainer{
    display: grid;
    grid-template-columns: 1fr 90fr;
    grid-template-rows: 100vh 100fr 6vh;
    grid-template-areas: "header header"
                         "aside institutional"
                         "footer footer";
}

.productCard {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 100fr;
    width: 30vw;
    float: left;
    margin: 1vw;
  }

.productCard img{
    width: 30vw;
    height: 40vh;
  }

.cardContainer h4{
    font-size: xx-large;
    font-family: 'Alatsi', sans-serif;
    font-weight: 100;
    margin-top: 3px;
    margin-left: 5px;
    margin-bottom: 0px;
}


.cardContainer p{
    font-size: medium;
    font-family: 'Roboto', sans-serif;
    font-weight: 550;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
}


.cardContainer b{
    font-size: 4vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-left: 5px;
}


.cardContainer a{
    color: black;
    text-decoration: none;
}


.cardContainer small{
    font-size: 10px;
    color: lightgrey;
    margin-left: 5px;
}

.oneProject{
    text-align: center;
    width: 80vw;
    height: flex;
    margin: auto;
    background: rgb(252, 252, 252);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}


.oneProject h1{
    text-align: center;
    /* font-family: 'Alatsi', sans-serif;
    font-weight: lighter;
    margin:auto; */
}


.oneProject h2{
    text-align: left;
    font-family: 'Alatsi', sans-serif;
    font-weight: lighter;
    margin-left: 5px;
    margin-bottom: 0px;
}


.oneProject p{
    font-size: medium;
    font-family: 'Roboto', sans-serif;
    font-weight: 550;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.oneProject b{
    font-size: 4vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    margin-left: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background: rgb(0, 197, 0);
    text-align: left;
    text-decoration: none;
    color:black;
}


.oneProject h2 b a{
    color:white;
    text-decoration: none;
}


.oneProject b:hover{
   color:white;
}


.oneProject img{
    max-width: 80vw;
}


.backButton{
    background: blueviolet;
    font-size: 4vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    display: block;
    color:black;
}


.emailFormContainer{
    background: #022873;
    height: 100fr;
    width: 80vw;
    margin:auto;
    margin-top: 10vh;
}


.emailForm{
    background: #A0AED9;
    height: 98vh;
    width: 60vw;
    margin: 10px, auto, auto, 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.emailForm form{
   width: 100fr;
   height: 100fr;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}


.emailForm form input{
    width: 50vw;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
    padding: 12px 20px;
    border: 2px solid red;
    border-radius: 4px;
    box-sizing:content-box;
}


.emailForm form select{
    width: 50vw;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
    padding: 12px 20px;
    border: 2px solid red;
    border-radius: 4px;
    box-sizing:content-box;
}


.emailForm form textarea{
    width: 50vw;
    height: 50vh;
    font-size: 1em;
    margin-bottom: 10px;
    padding: 12px 20px;
    font-family: 'Roboto', sans-serif;
    resize: none;
    box-sizing:content-box;
}


.captcha{
    margin-bottom: 10px;
}


.emailForm form button{
    width: 50vw;
    height: auto;
    font-size: 1em;
    font-weight: 700;
    color: rgb(250, 250, 250);
    margin-bottom: 0px;
    padding: 12px 20px;
    font-family: 'Roboto', sans-serif;
    resize: none;
    box-sizing:content-box;
    border: none;
    background: #A61B0F;
}


.emailForm form button:hover{
    background: rgb(117, 10, 0);
}


.emailForm p{
    display: flex;
    flex-direction: row;
}


.buttons{
    margin-top:140vh;
    margin-bottom: 50px;
    margin-left:2vw;
    width: 64vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons button{
    width: 10vw;
    padding: 5px;
    border: none;
    margin:10px;
    background: #A61B0F;
    font-family: 'Podkova';
    font-size: 2em;
    font-weight: 800;
    color: white;
    cursor: pointer;
}

.buttons button:hover{
    background: rgb(110, 18, 9);
    font-family: 'Podkova';
    color: white;
    border: 3px solid #A0AED9
}


/* Institutional mobile */
@media (max-width:480px){
    .skillsBoard{
        flex-flow: column wrap;
    }
    .skill{
        border:none;
        margin:10%;
        text-align: left;
        float:none;
    }


    .skill h2{
        font-family: 'Varela Round', sans-serif;
        margin-left: none;
    }
    
    
    .skill li{
        font-family: 'Varela Round', sans-serif;
        margin-left: 30px;
    }


    main h1{
        font-family: 'Calistoga', cursive;
        margin-left: 30px;
        text-transform: uppercase;
        font-size: 10vw;
        letter-spacing: 4px;
    }
    
    
    main p{
        font-family: 'Varela Round', sans-serif;
        margin-left: 30px;
        margin-right: 30px;
        font-size: 6vw;
        text-align: left;
        word-wrap: break-word;
    }
}

@media (max-width:480px){
    .container{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100vh 100fr 6vh;
        grid-template-areas: "header"
                             "institutional"
                             "footer";
    }
}


/* Mobile menu */
@media (max-width:480px){
    header h1{
        font-family: 'Bebas Neue', cursive;
        font-size: 40vw;
        margin-top:15vw;
        margin-bottom: 0;
        text-align: center;
        padding: 0;
        color: white;
        animation: fadeInSub 2s 1;
    }
    header p{
        font-family: 'Solway', serif;
        font-size: 10vw;
        margin-top: 0;
        text-align: center;
        text-justify: auto;
        color:white;
        animation: fadeInSub 3s 1;
    }
    header nav {
       display: none;
    }
    .smallNav {
        width: 50vw;
        height: 7vh;
        display: flex;
        position: fixed;
        margin-left: 25%;
        margin-top: 0;
        text-align: center;
        background-color: #022859;
        color: white;
        z-index: 99;
    }
    .smallNav a{
       align-self: center;
       padding-left: 5px;
       margin:auto;
    }
     }

/* Products side menu mobile */
@media(max-width:480px){
    .sideMenu{
        grid-area: aside;
        height: 90%;
        width: 30vw;
        float: left;
        margin-right: 10px;
    }
    
    aside{
        width: auto;
        max-width: none;
        max-height: none;
        height: auto;
        margin-left: 5px;
    }
    
    aside button{
        font-family: 'Varela Round', sans-serif;
        border-radius: 20px;
        font-size: 1,8vw;
        background: rgba(74, 0, 235, 0.568);
        border:none;
        width: 80%;
        display: block;
        padding: 5px;
        text-align: left;
    }
}

/* header mobile */
@media(max-width:480px){
    .dropButton{
        display: none;
    }

    header h1{
        font-size: 34vw;
    }
}

/* mobile projects */
@media(max-width:480px){
    .cards{
        display: flex;
        flex-direction: column;
    }

    .productCard {
        width: 60vw;
        height: auto;
      }
    
      .productCard img{
          width: 60vw;
      }

      .buttons{
        margin-top:0px;
        margin-bottom: none;
        margin-left:2vw;
    }

    .buttons button{
        width: 20vw;
    }
}

/* mobile contact form */
@media(max-width:480px){ 
    .emailFormContainer{
        width: 100vw;
    }
    .emailForm{
        background: #A0AED9;
        height: 120vh;
        width: 100vw;
        margin:0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .emailForm form{
       width: 100fr;
       height: 100fr;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }
    
    
    .emailForm form input{
        width: 75vw;
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 10px;
        padding: 12px 20px;
        border: 2px solid red;
        border-radius: 4px;
        box-sizing:content-box;
    }
    
    
    .emailForm form select{
        width: 75vw;
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 10px;
        padding: 12px 20px;
        border: 2px solid red;
        border-radius: 4px;
        box-sizing:content-box;
    }
    
    
    .emailForm form textarea{
        width: 75vw;
        height: 50vh;
        font-size: 14px;
        margin-bottom: 10px;
        padding: 12px 20px;
        font-family: 'Roboto', sans-serif;
        resize: none;
        box-sizing:content-box;
    }
    
    
    .emailForm form button{
        width: 60vw;
        height: auto;
        font-size: 1em;
        font-weight: 700;
        color: rgb(250, 250, 250);
        margin-bottom: 0px;
        padding: 12px 20px;
        font-family: 'Roboto', sans-serif;
        resize: none;
        box-sizing:content-box;
        border: none;
        background: #A61B0F;
    }
    
    
    .emailForm form button:hover{
        background: rgb(117, 10, 0);
    }
    
    
    .emailForm p{
        display: flex;
        flex-direction: row;
    }
}

@keyframes fadeInSub{
    0%{
        opacity: 0;
    }
}


@keyframes rotate{
    from{
        transform: rotate(-45deg);
    }
    to{
        transform:rotate(90deg)
    }
}


/* Dashboard */

.loginForm{
    width: 15vw;
    height: 100fr;
    background: lightgray;
    text-align: center;
    margin:auto;
    margin-top: 15%;
}

.loginForm input{
    width: 10vw;
    margin: 10px;
    padding: 10px;
    border: 1px solid red;
    background: white;
}

.dashContainer{
    display: grid;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15vh 100vh;
    grid-template-areas: "header"
                         "main";
}

.dashContainer .dashHeader{
    grid-area: header;
    background: rgb(180, 182, 180);
}

.dashContainer .dashMain{
    grid-area: main;
    background: white;
}

.dashHeader h1{
    text-align: center;
}

.optionsCards{
    width: 65vw;
    height: 100vh;
    margin-left: 17vw;
}

.optionCard{
    color:white;
    margin:10px 10px 10px 10px;
    background: rgb(212, 209, 223);
    padding: 5px;
    width: 65vw;
    height: 100fr;
    text-align: center;
    color: rgba(0,0,0);
}

.optionCard form{
    width: 40vw;
    margin:auto;
    height: 100fr;
}

.optionCard form input[type=text]{
    width: 30vw;
    padding: 10px;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
}

.optionCard form input[type=button]{
    width: 15vw;
    margin-top: 10px;
    margin-bottom:10px;
    cursor: pointer;
    padding:10px;
    background: rgb(155, 1, 1);
    color: rgb(252, 252, 252);
    font-weight: bold;
    border:none;
}


.optionCard form input[type=button]:hover{
    background: rgb(14, 155, 1);
}


.optionCard form p{
    font-size: larger;
    font-weight: bold;
    color: black;
}

.optionCard form textarea{
    width: 30vw;
    height: 50vh;
    font-size: 1em;
    margin-bottom: 10px;
    padding: 12px 20px;
    font-family: 'Roboto', sans-serif;
    resize: none;
    box-sizing:content-box;
}


.optionCard a{
    width: 15vw;
    margin-top: 10px;
    margin-bottom:10px;
    cursor: pointer;
    padding:10px;
    background: rgb(155, 1, 1);
    color: rgb(252, 252, 252);
    font-weight: bold;
    text-decoration: none;
}


.optionCard a:hover{
    background: rgb(14, 155, 1);
}


@media(max-width:480px){
    .optionCard form input[type=button]{
        width: 40vw;
        margin-top: 10px;
        margin-bottom:10px;
        cursor: pointer;
        padding:10px;
        background: rgb(155, 1, 1);
        color: rgb(252, 252, 252);
        font-weight: bold;
        border:none;
    }
    .dashHeader h1{
        font-size: 25px;
    }

}